body{
	background: url("../images/login/userbg.jpg") no-repeat;
	background-size: cover ;
	color: white;
}
.form{background: rgba(255,255,255,0.2);width:400px;margin:100px auto;}.glyphicon{
	margin-top: 15px;
}

.glyphicon{
	margin-top: 0px;
}
.modeldiv{
	color: black;
}